<app-navbar></app-navbar>
<app-carousel></app-carousel>

<app-teamportfolio></app-teamportfolio>


   <div class="container mt-4">
    <h1 class="fw-bold text-center text-white p-3" style="background-color: teal;">GALLERY</h1>
     <div class="row">
       <div class="col-md-3">
         <img src="https://wallpapercave.com/wp/ut6HOw1.jpg" style="height:300px !important" class="img-fluid rounded shadow p-3">
       </div>
      
       <div class="col-md-3">
         <img src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/a74fedda-d094-4d23-8e04-8a8f158b2a29"  class="img-fluid rounded shadow p-3" style="height:300px !important" >
       </div>
      
      <div class="col-md-3">
        <img src="https://webneel.com/wallpaper/sites/default/files/images/01-2014/5-flower-wallpaper.jpg" class="img-fluid rounded shadow p-3" style="height:300px !important">
      </div>
      
       <div class="col-md-3 ">
         <img src="https://images.unsplash.com/photo-1471899236350-e3016bf1e69e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80" class="img-fluid rounded shadow p-3 " style="height:300px !important">
       </div>

     </div>
   </div>

<br>
<br>


<app-footer></app-footer>

<br>


